.issues {
	list-style: none;
	margin: 0;
	color: white;
	padding: 0px;
	border-radius: 10px;
	border: 1px solid #30363d;
}

.issues>*:nth-child(1) {
	border: none;
}

.heading {
	margin: 0;
	padding-bottom: 30px;
	color: white;
}