.footer {
	border-top: 1px solid #30363d;
	width: 70%;
	margin: auto;
	padding: 30px;
	font-size: small;
}

.footer>div {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.footer>div:nth-child(1)>a {
	text-decoration: none;
	color: #2f81f7;
	margin: 5px;
}

.footer>div:nth-child(2) {
	color: #8b949e
}