.navBar {
	color: white;
	padding: 15px 20px 10px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-bottom: 1px solid #484f58;
	background-color: #010507;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	height: 30px;
}

.header>div {
	flex: 1;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.avatar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
}

.avatar>img {
	width: 35px;
	border-radius: 1000px;
}

.header>div:nth-child(2) {
	justify-content: flex-end;
}

.header>div>button {
	background-color: transparent;
	color: white;
	padding: 7px;
	border: 1px solid #484f58;
	border-radius: 5px;
}

.breadcrumb {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.breadcrumb>span {
	margin: 0;
	padding: 5px 10px;
	border-radius: 5px;
}

.breadcrumb>span:hover {
	background-color: #161b22;
	cursor: pointer;
}

.header>div>input[type=search] {
	flex: 1;
	background-color: transparent;
	border: 1px solid #484f58;
	border-radius: 5px;
	padding: 0px 10px;
	color: white;
}

@media screen and (max-width: 1000px) {
	.header>div:nth-child(2)>button {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.header>div:nth-child(2)>input {
		flex: none;
		width: 120px;
	}
}

.navigation {
	display: flex;
	gap: 10px;
	font-size: small;
}

@media screen and (max-width: 1000px) {
	.navigation>p:nth-child(n+7) {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.navigation>p:nth-child(n+4) {
		display: none;
	}
}

.navigation>p {
	margin: 0;
	padding: 5px 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.navigation>p:hover {
	background-color: #161b22;
	cursor: pointer;
}

.navigation>p>span {
	background-color: #484f58;
	padding: 2px 5px;
	border-radius: 100px;
}