.App {
	text-align: center;
	margin: 0;
	background-color: #0d1117;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

#colors {
	--color-scale-gray-0: #f0f6fc;
	--color-scale-gray-1: #c9d1d9;
	--color-scale-gray-2: #b1bac4;
	--color-scale-gray-3: #8b949e;
	--color-scale-gray-4: #6e7681;
	--color-scale-gray-5: #484f58;
	--color-scale-gray-6: #30363d;
	--color-scale-gray-7: #21262d;
	--color-scale-gray-8: #161b22;
	--color-scale-gray-9: #0d1117;
	--color-scale-gray-10: #010507;
	--color-scale-blue-5: #2f81f7;
}